/** Colours */
:root {
	--bg: #000201;
	--greenerBg: #0c0e0d;
	--text: #f2f2f2;
	--accent1: #59dafb;
	--accent2: #a5fb59;
}

.trbl-green {
	border-radius: 15px;
	background: var(--greenerBg);
}

.trbl-green::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom left, var(--accent2), var(--bg) 35%);
	z-index: -1;
	border-radius: inherit;
	margin: -2px;
}

/** Structure & layout */
section {
	height: 100vh;
}

body {
	background: var(--bg);
	color: var(--text);
	font-family: Satoshi;
	margin: 0;
}

.flex {
	display: flex;
}

.hori {
	display: flex;
	flex-direction: row;
}

.vert {
	display: flex;
	flex-direction: column;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

/** Font */
p, h1, h2, h3, h4, span {
	margin-top: 0;
}

h1 {
	font-family: Satoshi Variable;
	font-weight: 700;
	font-size: 7em;
}

p {
	font-size: 1.5em;
}

.fancy {
	font-family: playfairDisplay;
}

.accentBlue {
	color: var(--accent1);
}

.blue {
	--accent: var(--accent1);
}

.green {
	--accent: var(--accent2);
}

.halfAccent {
	background: linear-gradient(180deg, var(--text) 60%, var(--accent) 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

/** Colours */
.bgAccentBlue {
	background: var(--accent1);
}

/** Shapes */
.circle {
	border-radius: 100%;
}

/** Behaviour */
#followCursor {
	transform: translate(-50%, -50%);
	z-index: 1;
}

/** Appearance */
.hidden {
	display: none;
	user-select: none;
	pointer-events: none;
}
